* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.app-heading {
  font-size: 48px;
  font-family: "Poppins";

  padding-top: 60px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 22px;

  justify-content: center;
  align-content: center;

  .top {
    padding: 20px;
    font-size: 22px;
    font-family: "Poppins";
  }

  .active {
    text-decoration: underline;
    font-weight: 600;
  }
}

.timer {
  display: flex;
  flex-direction: row;
  font-size: 64px;
  font-family: "Poppins";

  justify-content: center;
  align-content: center;
}

#buttons {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 20px;

  #skip {
    display: none;
  }
}

.button {
  font-weight: lighter;

  margin-right: 16px;
}

.msg {
  display: flex;
  justify-content: center;
  align-content: center;

  .msg-txt {
    margin-top: 40px;
    font-size: 18px;
    font-family: "Poppins";
  }
}

.cycles {
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: "Poppins";
  font-size: 20px;

  padding: 30px;
}

.settings {
  position: relative;

  .set-btn {
    position: absolute;
    right: 20px;

    border: none;
    background: none;

    cursor: pointer;
  }
}

.settings-container {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);

  .settings-panel {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 4px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    h4 {
      font-family: "Poppins";
      font-size: 18px;
      opacity: 0.8;
      padding-top: 20px;
    }

    .setting-title {
      font-size: 32px;
      padding-top: 30px;
    }

    .okay-btn {
      position: absolute;
      bottom: 35px;
      right: 10px;
    }
  }

  .close-settings {
    position: absolute;
    right: 25px;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-settings::after {
    content: "\d7";
    font-family: FontAwesome;
  }
}

.enable {
  opacity: 1;
  pointer-events: auto;
}

.skip-pomo-btn {
  display: none;
  border: none;
  background: none;
}

.skip-pomo-btn::after {
  font-family: FontAwesome;
  content: "\25b6";
  cursor: pointer;
}
